    <!-- FOOTER -->
    <footer id="footer" class="bg-color2 dark-bg">
            <div > 
                <img class="logo" src="/images/logo.png" height="48"> 
                <span >© 2017 Mlog<br>Designed by Muxue</span> 
            </div>

    </footer>
</div>
<!-- /#wrap --> 


<!-- JavaScript --> 
<script src="/javascripts/jquery-1.11.2.min.js"></script> 
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/smoothscroll.js"></script> 
<script src="/javascripts/jquery.smooth-scroll.min.js"></script> 
<script src="/javascripts/custom.js"></script>
</body>
</html>