<!-- INTRO CENTER -->
<header id="intro-center" class="intro-block bg-color1 dark-bg fixed-bg" style="background-image: url(../images/bg20.png); height:50px;">
    <h1 class="center"><%= title %></h1>
    <h2 class="center"><%= description %></h2>
</header>