<%- include nav %>

<!--                                        这是主页                                     -->
<!--                                        这是主页                                     -->
<!--                                        这是主页                                     -->
   
    <!-- INTRO CENTER -->
    <header id="intro-center" class="intro-block bg-color1 dark-bg fixed-bg double-padding-big " style="background-image: url(/images/bg20.png);">
        <div class="container">
            <div class="slogan">
                <h1 class="giant-title">Mlog</h1>
                <h2>A blog created by Muxue</h2>
            </div>
            <a class="goto" href="#attitude"><i class="icon big-icon icon-arrow-down"></i></a>
        </div>
    </header>

    <!--Attitude-->
    <div id="attitude" class="bg-color1">
        <div class="center double-padding">
            <p>谁会愿意生活</p>
            <p>都被胁迫</p>
            <p>被卷进漩涡</p>
            <p>也不低头</p>
        </div>
        <p class="text-right">————————华晨宇《蜉蝣》</p>
    </div>

    <!-- Article -->
    <div id="article" class="bg-color2 all-padding">
        <div class="title">
            <h2>博文</h2>
        </div>
        <div class="description">
            <p>这是我的第一篇博文</p>

        </div>
    </div>
    
    <!-- Album -->
    <div id="album" class="bg-color1 all-padding">
        <div class="title">
            <h2>相册</h2>
        </div>
        <ul>
            <li class="photo"><img src="/images/album/1.jpg"></li>
            <li class="photo"><img src="/images/album/2.jpg"></li>
            <li class="photo"><img src="/images/album/3.jpg" style="transform: rotate(90deg);"></li>
            <li class="photo"><img src="/images/album/4.jpg"></li>
        </ul>
    </div>
<%- include footer %>