form {
    border: 2px solid #fff;
    border-radius: 15px;
    width: 400px;
    margin: 50px auto;
    padding: 20px 20px 30px 20px;
}

legend {
    color: #fff;
    text-align: center;
}

input,
button {
    width: 100%;
}