.container {
	min-width: 300px;
}

.show {
	width: 415px;
	height: 121px;
	background-color: #EEF3C8;
	text-align: right;
	margin: 0 auto;
}

#big {
	font-size: 3rem;
}

.button table {
	border-spacing: 5px;
	margin: 0 auto;
}

.button table td {
	width: 70px;
	height: 70px;
	padding: 0 15px 0 15px;
	background-color: orange;
	text-align: center;
}

.button table td:hover {
	background-color: #FFCC00;
}

.button table td:active {
	background-color: yellow;
}

@media(max-width: 500px) {
	.button table td {
	width: 40px;
	height: 40px;
	padding: 0 10px 0 10px;
	}

	.show {
	width: 255px;
	height: 88px;
	margin:0 auto;
	background-color: #EEF3C8;
	text-align: right;
	}

	#big {
		font-size: 2rem;
	}
}
